{% load static %}
{% load i18n %}
<html lang="{% trans "es" %}">
<head>
    <meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Tienda virtual</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://www.paypal.com/sdk/js?client-id=YOUR_CLIENT_ID&currency=USD"></script>
    <script src="{% static 'tienda/js/notificaciones.js' %}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>

    <div>
        <h1><a href="/">Tienda ARV</a></h1>

        {% if request.user.is_authenticated %}
            <div>¡Bienvenido, {{ request.user.username }}!</div>
            <div>
                {% if es_moderador and not request.user.cliente %}
                    <div>
                        <button type="submit"><a href="{% url 'moderarComentarios' %}">Moderar Comentarios</a></button>
                    </div>
                {% endif %}
                <div>
                    {% if request.user.cliente %}
                        <button type="submit"><a href="{% url 'perfil' %}">Editar Perfil</a></button>
                    {% endif %}
                </div>
                <div>
                    <form id="logoutForm" action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Cerrar Sesión</button>
                    </form>
                </div>
            </div>
        {% else %}
            <div>
                <div>
                    <button type="submit">
                        <h3><a href="{% url 'login' %}">Iniciar Sesión</a></h3>
                    </button>
                </div>
                <div>
                    <button type="submit"><h3><a href="{% url 'singin' %}">Registrarse</a></h3></button>
                </div>
            </div>
        {% endif %}

    </div>

    {% if request.user.is_authenticated and request.user.cliente %}
    <div>
        <a href="{% url 'verCarrito' %}">Carro de compra</a>
    </div>
    {% endif %}

    {% if request.user.is_authenticated %}
    {% if request.user.is_staff %}
        <ul>
            <li><a href="{% url 'producto_admin' %}">Gestión de productos</a></li>
            {% if request.user.cliente and request.user.cliente.vip %}
                <li><a href="{% url 'informe_compras' %}">Tu historial de compras</a></li>
            {% endif %}
        </ul>
    {% else %}
        {% if request.user.cliente %}
            <ul>
                <li><a href="{% url 'informe_compras' %}">Tu historial de compras</a></li>
                <li><a href="{% url 'wishlist' %}">Ver lista de deseos</a></li>
            </ul>
        {% endif %}
    {% endif %}
{% endif %}


    <div>
        <div>
            <div>
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

</body>

</html>
