{% extends 'tienda/base.html' %}

{% load i18n %}

{% block content %}
    {% if producto_agregado %}
        <p>¡El producto se ha agregado al carrito!</p>
    {% endif %}

    <h1>"Página de Compra"</h1>

    <div>
        <div>
            <div>"Nombre:"<div>{{ producto.producto_nombre }}</div></div>
            <div>"Marca:"<div>{{ producto.marca }}</div></div>
            <div>"Unidades disponibles:"<div>{{ producto.producto_unidades }}</div></div>
            <div>"Precio:"<div>{{ producto.producto_precio }}€</div></div>
            <br>
            {% if producto.vip %}
                <div>"El producto es VIP"</div>
            {% endif %}
            {% if request.user.is_authenticated %}
                {% if request.user.cliente %}
                    {% if producto.vip and not request.user.cliente.vip %}
                        <div>
                           "Solo los usuarios VIP pueden comprar productos VIP."
                        </div>
                    {% else %}
                        <form method="post">
                            {% csrf_token %}
                            <input type="number" name="cantidad" value="1" min="1" max="{{ producto.unidades }}">
                            <button type="submit">"Comprar"</button>
                        </form>
                        {% if messages %}
                            <div>
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endif %}
                {% else %}
                    <div>
                        No puedes comprar productos al no ser cliente.
                    </div>
                {% endif %}
            {% else %}
                <div>
                    Inicia sesión para comprar este producto.
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}