{% extends 'tienda/base.html' %}

{% block content %}
<h2>¡Gracias por tu compra!</h2>
<p>Tu pedido se ha realizado correctamente. Nº de pedido: {{ compra.id }}</p>

<h3>Detalles del pedido</h3>
<ul>
  <li>Fecha: {{ compra.compra_fecha }}</li>
  <li>Importe total: {{ compra.compra_importe }} €</li>
  <li>Método de pago: PayPal</li>
  <li>Dirección de envío: {{ compra.direccion.calle }}, {{ compra.direccion.ciudad }}, {{ compra.direccion.pais }}</li>
</ul>

<a href="{% url 'exportar_compra_pdf' compra.id %}" class="btn btn-outline-primary mt-3">
    Descargar PDF de la compra
</a>

{% endblock %}
