{% extends 'tienda/base.html' %}

{% block content %}
<div class="container my-5">
    <div class="card shadow-sm border-0 p-4 mx-auto" style="max-width: 600px;">
        <h2 class="text-center mb-4 text-black">Finalizar Compra</h2>

        <div class="mb-4 text-center">
            <p class="mb-1 text-black"><strong>Producto:</strong> {{ producto.producto_nombre }}</p>
            <p class="mb-1 text-black"><strong>Marca:</strong> {{ producto.marca.marca_nombre }}</p>
            <p class="mb-1 text-black">
                <strong>Precio:</strong> 
                <span class="{% if producto.descuento %}text-success{% endif %}">
                    {{ producto.precio_con_descuento }} €
                </span>
                {% if producto.descuento %}
                    <small class="text-muted text-decoration-line-through ms-2">{{ producto.precio }} €</small>
                {% endif %}
            </p>
        </div>

        {% if cuentas and direcciones %}


            <!-- Botón PayPal -->
            <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" class="text-center">
                <input type="hidden" name="cmd" value="_xclick">
                <input type="hidden" name="business" value="sb-dkoxp31869148@business.example.com"> <!-- tu cuenta sandbox -->
                <input type="hidden" name="item_name" value="Compra directa en Tienda ARV">
                <input type="hidden" name="amount" value="{{ producto.precio_con_descuento }}">
                <input type="hidden" name="currency_code" value="EUR">
                <input type="hidden" name="invoice" value="{{ invoice }}">
                <input type="hidden" name="return" value="{{ request.build_absolute_uri|cut:request.get_full_path }}{% url 'paypal_exito' %}?invoice={{ invoice }}">
                <input type="submit" value="Pagar con PayPal" class="btn btn-primary w-100">
            </form>

        {% else %}
            <div class="alert alert-danger text-center">
                No puedes proceder con la compra. Asegúrate de tener una cuenta de pago y una dirección configurada.
            </div>
        {% endif %}

    </div>
</div>
{% endblock %}
