{% extends 'tienda/base.html' %}

{% block content %}
  <h2>Carrito de compras</h2>


{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}


  {% if productos_carrito %}
    <table>
      <thead>
        <tr>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Precio</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <form method="POST" action="{% url 'actualizarProductoCarrito' %}">
          {% csrf_token %}
          {% for producto in productos_carrito %}
            <tr>
              <td>{{ producto.producto.producto_nombre }}</td>
              <td>
                <input type="number" name="cantidad_{{ producto.producto.id }}" value="{{ producto.cantidad }}" min="1">
              </td>
              <td>{{ producto.producto.producto_precio }} €</td>
              <td>{{ producto.subtotal }} €</td>
            </tr>
          {% endfor %}
          <tr>
            <td colspan="3">Total</td>
            <td>{{ total_precio }} €</td>
          </tr>
          <tr>
            <td colspan="3">Método de pago</td>
            <td>
              <select name="metodo_pago">
                <option value="visa">Visa</option>
                <option value="mastercard">Mastercard</option>
              </select>
            </td>
          </tr>
          <tr>
            <td colspan="3">Selecciona tu cuenta</td>
            <td>
              <select name="cuenta">
                {% for cuenta in cuentas %}
                  <option value="{{ cuenta.id }}">{{ cuenta.nombre }} - {{ cuenta.saldo }} €</option>
                {% endfor %}
              </select>
            </td>
          </tr>
          <tr>
            <td colspan="4">
              <button type="submit">Actualizar carrito</button>
            </td>
          </tr>
        </form>
      </tbody>
    </table>

    <form method="POST" action="{% url 'finalizar_compra' %}">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Finalizar Compra</button>
    </form>

  {% else %}
    <p>No hay productos en el carrito</p>
  {% endif %}
{% endblock %}
