Django~=4.2

# Django environment variables
# https://django-environ.readthedocs.io/
django-environ

#Postgres Requirement
# sudo apt install python3-dev libpq-dev
#development
psycopg2-binary
#production ready
# psycopg2

python-dotenv
Pillow
django-simple-captcha==0.6.0
paypalrestsdk==1.13.3
django-paypal
xhtml2pdf

